<% include partials/header.ejs%>

<%blogs.forEach(function (blog) {%>
    <div class="container main">
        <h2><%=blog.title%> </h2>
        <img src="<%=blog.image%>">
        <p><%=blog.body.substring(0,100)%> . . .</p>
        <%=blog.created%>
        <a href="/blogs/<%=blog._id%>">More Info</a>
    </div>
<%})%>
<% include partials/footer.ejs%>

